VITE_API_BASE_URL=https://api.ankara.edu.tr/v1
VITE_API_BASE_URL=http://localhost:3000/api

VITE_API_TIMEOUT=30000

VITE_ENABLE_2FA=true
VITE_ENABLE_EMAIL_VERIFICATION=true

VITE_MAX_FILE_SIZE=5242880
VITE_ALLOWED_FILE_TYPES=image/jpeg,image/png,image/jpg,application/pdf

SECRET_KEY = '-'
SENTRY_DSN = '-'

# Emailing
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'x@gmail.com'
EMAIL_HOST_PASSWORD = '-'
DEFAULT_FROM_EMAIL = 'Akademik Randevu <x@gmail.com>'